<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='Flying.css')}}">
<title>Our Funky HTML Page</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body>



	<div class="landscape">
	<div class="sky" style = "z-index:100">
		
			<span class="flex-container" id="menu_bar">
					<a class="menu_button" href="./index">Home</a>
					<a class="menu_button" href="./About">About</a>
					<a class="menu_button" href="./projects">Projects</a>
				<a class="menu_button" href="./More">More</a>
					<span><a style = "font-family:'Calibri'">Menu</a><img src="{{url_for('static', filename='icons/Hamburger.png')}}" style="height:1rem;opacity:0.5;padding: 0rem 0rem 0rem 1rem"></span>
				</span>
	
		<div id = "imagecontainer">
		<img src="static/images/Me.jpg" class = "me">
	</div>
		<div id = "subtextcontainer">
		<div id = "title">Roel Huijskens</div>
		<div id = "subtext"></div>
		</div>
	</div>
	<div class="ground"></div>
	</div>
	
	<div class="cover_gap"></div>



<div id="oncomming" style="z-index:2"></div>






</body>
<script src="{{url_for('static', filename='FrontPageSetup.js')}}"></script>
</html>