<html>

<head>
<link rel="stylesheet" href="{{url_for('static', filename='My_Stylesheet.css')}}"/>


</head>
<body>
<b>
<span class="flex-container" id="menu_bar">
        <a class="menu_button" href="../index">Home</a>
        <a class="menu_button" href="../About">About</a>
        <a class="menu_button" href="../Projects">Projects</a>
	<a class="menu_button" href="../More">More</a>
        <span><a style = "font-family:'Calibri'">Menu</a><img src="{{url_for('static', filename='icons/Hamburger.png')}}" style="height:1rem;opacity:0.5;padding: 0rem 0rem 0rem 1rem"></span>
    </span>
</b>
<br>
<span><a style="color:grey;text-decoration:none;margin:0rem 0rem 0rem 5rem" href="../Projects"> [projects]</a></span>


<main>
        {% block content %} {% endblock %}
</main>

<br>
<br>




<!--<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->

</body>
</html>